<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Gallery</title>
    <!-- add stylesheet -->
</head>
<body>

    <%- include('partials/navbar') %>

    <% coffees.forEach(coffee => { %>
        <div>
            <div>
                <img src="/images/<%= coffee.image %>" alt="coffee image">
                <div>
                <h5><%= coffee.name %></h5>
                    <p> 
                        Blurb: <%= coffee.blurb %> <br>
                    </p>
                </div>
                <div>
                    <a href="/edit/<%= coffee._id%>">Edit</a>
                    <form action="/delete/<%= coffee._id%>" method="POST">
                        <button type="submit">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    <% }) %> 
    
</body>
</html>